.usercp_nav_myalerts {

}

.usercp_nav_myalerts_delete_all {
}

.usercp_nav_myalerts_delete_read {

}

.newAlerts > a {
    color: red !important;
}

ul.panel_links a.myalerts {
    background-position: 0 -180px;
}

.alert_counter {
    position: relative;
    top: -7px;
    background-color: #4da6ff;
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 9px Verdana;
    text-align: left;
}

		
		
		