html, body {
height: auto;
}

body {
	text-align: left;
	padding: 0;
	margin: 0;
	font-family : 'Open Sans', sans-serif;
	font-size: 14px;
    background-image: none;
    background-color: #fff;
}

a {
color : #009dff;
text-decoration : none;
transition : all 0.3s linear;
}

a:hover {
color : #009dff;
text-decoration : none;
}

dt {
font-weight : 700;
}

.font-sm {
font-size: 80% !important;
}

.font-md {
font-size: 93% !important;
}

.font-lg {
font-size: 120% !important;
}

.text-center {
text-align : center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.border-top {
	border-top: 2px solid #D9F0FF;
}

.panel-no-padding {
padding: 0;
}

.margin-0 {
margin: 0;
}

.margin-top-10 {
margin-top: 10px !important;
}

.margin-bottom-10 {
margin-bottom: 10px !important;
}

.padding-8px {
padding: 8px;
}

.padding-top {
padding: 1.5%;
}

.padding-top-2 {
padding: 2%;
}

.padding_0 {
    padding: 0px !important;
}

.padding_10 {
    padding: 10px;
}

.padding_bottom_10 {
    padding-bottom: 0px !important;
}

.bottom-border {
    padding-top: 0.5%;
	border-bottom: 1px solid rgba(217, 240, 255, 1);
}

#main-container {
width: 100%;
position: relative;
    color: #303f50;
    text-align: left;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.padding_10 {
    padding: 10px;
}

.wrapper {
width : 90%;
min-width : 733px;
margin : 0 auto;
}

.wrapper-head {
    background: #202C38;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #009dff;
    border-bottom: 2px solid #009dff;
    display: inline-block;
    height: 44px;
}

#wrapperindex {
width: auto !important;
overflow: hidden;
}

#logo {
    width: 100%;
    margin-top: 47px;
    padding: 0;
    background: #fff url(../../../images/netpen/logo-bg.png) no-repeat center top !important;
    background-attachment: fixed !important;
    background-size: 100% !important;
    border-bottom: 2px solid #009dff;
}

.logo-inner {
	background: url(../../../images/netpen/overlay-bg.png) repeat center;
    padding: 35px 0;
	text-align: center;
}

.logo-inner img {
opacity : 0.800000011920928955078125;
}

.content {
    margin: auto auto;
    float: none;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #FFF;
}

.col-lg-10, .col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;
}

#header, #header-responsive {
width : 100%;
}

#header-responsive, .navigation-responsive, .menu-responsive, #logo-responsive .fa, .usermenu-responsive {
display: none;
}

.navbar {
    background: #202C38;
    min-height: 45px;
    position: fixed;
    border-radius: 0px !important;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    z-index: 1000;
    overflow: visible;
    border: 0px solid transparent;
}

.navbar-default {
    border-bottom: 2px solid #009dff !important;
}

.navbar-header {
    text-align: center;
}

.of-h {
overflow : hidden !important ;
}

.padding_0_10 {
padding : 0 10px;
}

.my_top {
margin-top : 15px;
}

.newest {
    text-align: center;
    background: #405972;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.newest a {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #009dff;
}

.smilie {
vertical-align : middle;
width : auto !important ;
}

.smilie_pointer {
cursor : pointer;
}

.bg-alert {
    background-color: #405972 !important;
    color: #FFF;
}

.bg-info {
background-color : #ED5A5A !important ;
color : #E7F5FA;
}

.bg-danger {
background-color : #009dff !important ;
color : #FEF7F6;
}

.of-h {
overflow : hidden !important ;
}

.icon-bg {
position : absolute;
right : 0;
top : 0;
line-height : 100px;
font-size : 100px;
}

.icon-bg-small {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 135px;
    font-size: 50px;
}

.box-shadow-top {
box-shadow : 0 -5px 5px -5px #5b82a4;
}

.box-shadow-bottom {
box-shadow : 0 1px 2px -1px #5b82a4;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    font-family : 'Open Sans', sans-serif;
    color: #8f99a3;
    text-align: left;
    font-size: 14px sans-serif;
    padding: 35px 50px 55px 50px;
    margin-top: 0;
    border-top: 3px solid #009dff;
    background: #23313E;
}

.footer h3 {
color : #b9bfc6;
text-transform : uppercase;
font-size: 17px;
}

.footer ul {
margin : 0;
padding : 0;
}

.footer ul li {
list-style : none;
display : block;
padding : 0;
margin : 0;
}

.footer ul li a {
text-decoration : none;
color : #d5d9dd;
font : 12px sans-serif;
transition : all 0.5s ease;
font-weight : 600;
}

.footer ul li a:hover {
color : #8f99a3;
}

.footer .footer-left, .footer .footer-center, .footer .footer-right {
display : inline-block;
vertical-align : top;
}

::-webkit-scrollbar {
width : 15px;
}

::-webkit-scrollbar-track {
background : #2C3E4F;
}

::-webkit-scrollbar-thumb {
background : #009dff;
}

#debug {
    text-align: center;
    margin: 0px;
    font-size: 11px;
    padding: 5px 0px 10px;
    color: #8f99a3;
    background: #23313E;
    width: 100%;
}

#debug a {
color : #009dff;
}

#debug a:hover {
color : #405972;
}

.forum_status {
	height: 30px;
	text-align: center;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	color: #FFF;
	width: 30px;
	font-size: 20px;
}

.forum_status_mobile {
text-align : center;
color : #FFF;
text-transform : uppercase;
padding : 3px 4px;
font-size : 9px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.forum_status i {
    display: inline-block;
    line-height: 27px;
}

.forum_on, .forum_on_mobile {
background : #009dff;
border : #009dff solid 2px;
}

.forum_off, .forum_off_mobile, .forum_offlock, .forum_offlink {
    background: #fff;
    color: #435870;
    border: #435870 solid 2px;
    cursor: pointer;
}

.forum_offlock_mobile {
background : #C31111;
}

.forum_offlink_mobile {
background : #29B12A;
}

.forum_off i, .forum_offlock i, .forum_offlink i {
    opacity: 1;
}

.forum_offlock i:before {
content : "\f023";
}

.forumsubscriptions.off:before {
font-family : 'FontAwesome';
font-size : 15px;
content : "\f023";
}

.forum_offlink i:before {
content : "\f0c1";
}

div[id^="mark_read_"] {
padding-right : 0;
padding-left : 0;
}

.subforumicon {
height : 10px;
width : 10px;
display : inline-block;
font-size : 14px;
}

.subforum_minion {
color : #009dff;
font-weight : 700;
}

.subforum_minioff, .subforum_miniofflock, .subforum_miniofflink {
color : #8f98a3;
}

.subforum_miniofflock i:before {
content : "\f023";
}

.subforum_miniofflink i:before {
content : "\f0c1";
}

form .thead {
background : #405972;
border-top : 0 solid #009dff;
text-align : center;
}

.subforum_dropdown {
padding-top : 1.5%;
}

.subforum_dropdown::before {
	content: "»";
	margin-right: 7px;
	margin-left: 5px;
	
	color: #405972;
	font-size: 17px;
}

.button-sub-forum {
line-height : 1.4;
font-size : 12px;
cursor : pointer;
margin : 0;
box-shadow : none;
text-transform : uppercase;
color : #405972 !important ;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}

.dropdown-header {
display : block;
padding : 3px 20px;
font-size : 13px;
line-height : 1.42857143;
color : #fff;
white-space : nowrap;
background : #009dff;
font-weight : 700;
}

ul.dropdown-menu a {
padding : 5px;
font-size : 12px;
}

fieldset {
color : #5b82a4;
position : relative;
border : #5b82a4 solid 2px;
margin-top : 5px;
padding : 15px 8px;
font-size : 10pt;
text-align : center;
}

fieldset.align_right {
text-align : right;
}

input {
    background: #fff;
    color: #333;
    border: solid 2px;
    padding: 6px;
    outline: 0;
    font-size: 13px;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    border-color: #009dff;
    margin-left: 2px;
}

.loggin input {
    background: transparent;
    color: #fff;
    border: solid 2px;
    padding: 0px;
    outline: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border-color: transparent;
}

.loggin input:hover {
    color: #009dff;
}

textarea {
background : #fff;
color : #333;
border : #8f98a3 solid 2px;
padding : 2px;
line-height : 1.4;
outline : 0;
font-family : Tahoma, Verdana, Arial, Sans-Serif;
font-size : 13px;
height : 175px;
}

select {
    padding: 6px;
	color: #303f50;
}

button, input.button {
background : #009dff;
padding : 7px 15px;
cursor : pointer;
outline : 0;
color : #fff;
display : inline-block;
margin : 2px 2px 6px;
border : #393f46 solid 0;
font-size : 13px;
transition : all 0.3s linear;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

button:hover, input.button:hover {
background : #2e4052;
}

a.new_thread_button:link, a.new_reply_button:link, a.closed_button:link, a.new_thread_button:hover, a.new_reply_button:hover, a.closed_button:hover, a.new_thread_button:visited, a.new_reply_button:visited, a.closed_button:visited, a.new_thread_button:active, a.new_reply_button:active, a.closed_button:active {
background-color : #2e4052;
color : #fff;
display : inline-block;
padding : 5px 10px 5px 5px;
margin : 2px 2px 6px 0;
font-size : 14px;
transition : background-color 0.2s, border 0.2s, color 0.2s;
transition-delay : 0;
transition-timing-function : linear;
text-transform : uppercase;
font-weight : 700;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

a.new_thread_button:hover, a.new_reply_button:hover {
background-color : #009dff;
}

a.new_thread_button span:before {
content : "\f086";
font-family : 'FontAwesome';
}

a.new_thread_button span:before, a.new_reply_button span:before {
background-color : #009dff;
font-size : 18px;
padding : 2px 6px;
margin-right : 5px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

a.new_thread_button span:before:hover, a.new_reply_button span:before:hover {
background-color : #2e4052;
}

a.new_reply_button span:before {
content : "\f075";
font-family : 'FontAwesome';
}

a.closed_button span::before {
font-family : 'FontAwesome';
content : "\f00d";
background-color : #ed5a5a;
font-size : 18px;
padding : 2px 6px;
margin-right : 5px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

span.goto {
float : left;
}

form {
margin : 0;
padding : 0;
}

form h3 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background: #009dff;
    margin: 0px 0px 10px;
    padding: 7px 0px;
}

.replyform .trow2 {
width : 20%;
float : left;
}

form input.error {
border : #f30 solid 1px;
color : #f30;
background : #e6e6e6;
padding : 3px;
outline : 0;
font-size : 13px;
font-family : 'Open Sans', sans-serif;
}

form input.valid {
border : #0c0 solid 1px;
background : #e6e6e6;
padding : 3px;
outline : 0;
font-size : 13px;
font-family : 'Open Sans', sans-serif;
}

form label.error {
color : #f30;
margin : 5px;
padding : 0;
display : block;
font-weight : 700;
font-size : 11px;
}

form #message {
width : 500px;
}

.input-sm, .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0px;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

div.author a:hover {
color : #393f46;
}

a.lastpost {
color : #606060;
white-space : nowrap;
text-decoration : none;
font-weight : 700;
}

.lastpost img {
height : 10px;
width : 10px;
margin-top : -2px;
vertical-align : middle;
}

a.lastpost img {
margin-top : -2px;
}

.smalltextdesc {
width : 80%;
float : left;
padding : 3px 0 5px 7px;
}

.editor {
background : #f1f1f1;
border : #ddd solid 1px;
}

.editor_control_bar {
    background: #405972;
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    padding: 7px;
    border: 2px solid #009dff;
    color: #fff;
    line-height: 2;
}

.post .editor_control_bar {
background : #f5f5f5;
}

.popup_menu {
	background: #303030 !important;
	border: #ddd solid 1px;
}

.popup_menu .popup_item {
background : #303030;
color : #fff;
}

.popup_menu .popup_item:hover {
background : #009dff;
color : #fff;
}

.post .post_head span.edited_post {
	font-size: 12px;
	color: #333;
}

.post .post_head span.edited_post a {
	color: #333;
}

.post_edit {
    margin: 10px 0;
}

.popup_menu1 {
  position: inherit !important;
}

.popup_menu1 .popup_item {
	background: #F5F5F6;
	color: #333;
    border: 1px solid #eaeaea;
}

.popup_menu1 .popup_item:hover {
	background: #009dff;
	color: #fff;
}

.popup_menu1 .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu1 .popup_item {
	display: block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
}

.popup_menu1 a.popup_item:hover {
	text-decoration: none;
}

.reputation_positive {
color : #009dff;
}

.reputation_neutral {
    color: #009dff;
}

.reputation_negative {
color : red;
}

.repbox {
font-size : 16px;
font-weight : 700;
padding : 5px 7px;
}

._neutral {
background-color : #FAFAFA;
color : #999;
border : #DDD solid 1px;
}

._minus {
background-color : #FDD2D1;
color : #CB0200;
border : #980201 solid 1px;
}

._plus {
background-color : #E8FCDC;
color : #080;
border : #080 solid 1px;
}

img {
border : none;
}

.mycode_img {
    max-width: 70%;
}

img.attachment {
border : #E9E5D7 solid 1px;
padding : 2px;
}

hr {
background-color : #8f98a3;
color : #8f98a3;
height : 1px;
border : 0;
}

.clear {
clear : both;
}

.float_left {
float : left;
margin-left : 10px;
}

.float_right {
float : right;
margin-right : 10px;
}

.float_right img {
    margin-top: 10px;
}

.hidden {
display : none;
float : none;
width : 1%;
}

.hiddenrow {
display : none;
}

.selectall {
background : #FFFBD9;
border-bottom : 1px solid #F7E86A;
color : #333;
text-align : center;
}

.expcolimage {
    float: right;
    width: 22px;
    vertical-align: top;
    margin: 0px 5px;
}

.expander {
    border-radius: 50%;
}

blockquote {
    font-size: 14px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    border: #bdcddb solid 2px;
}

blockquote cite {
display : block;
padding-bottom : 2px;
border-bottom : 1px solid #bdcddb;
margin-bottom : 5px;
font-weight : 700;
}

blockquote cite::before {
font-family : 'FontAwesome';
content : "\f10d";
padding-right : 3px;
font-weight : 400;
}

blockquote cite span {
display : inline-block;
float : right;
margin : 0 4px;
font-size : 12px;
font-weight : 400;
}

blockquote cite span.highlight {
float : none;
font-weight : 700;
padding-bottom : 0;
}

.codeblock {
    padding: 10px;
    margin-bottom: 12px;
    background: #fff;
    border: #bdcddb solid 1px;
    width: 95%;
}

.codeblock .title {
color : #fff;
border-bottom : 1px solid #8f98a3;
font-weight : 700;
margin : 0 0 10px;
padding-left : 20px;
background : #009dff;
}

.codeblock .title::before {
font-family : 'FontAwesome';
content : "\f1c9";
color : #fff;
font-size : 20px;
padding-right : 5px;
font-weight : 400;
}

.codeblock code {
    color: #5b82a4;
    overflow: auto;
    height: auto;
    max-height: 200px;
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgba(222, 230, 237, 0.5);
}

.smilie {
vertical-align : middle;
}

.smilie_pointer {
cursor : pointer;
}

.separator {
margin : 5px;
padding : 0;
height : 0;
font-size : 1px;
list-style-type : none;
}

.popup_menu .popup_item_container {
margin : 1px;
text-align : left;
}

.popup_menu .popup_item {
display : block;
padding : 4px;
white-space : nowrap;
text-decoration : none;
}

.popup_menu a.popup_item:hover {
text-decoration : none;
}

.subject_new {
    text-transform: uppercase;
    color: #2e4052;
    font-weight: 700;
    float: left;
    width: 80%;
    padding: 0px 0 0 7px;
    font-size: 15px;
}

.highlight {
background : #FFC;
padding-top : 3px;
padding-bottom : 3px;
}

.pm_alert {
    background: #fff;
    border: rgba(77, 166, 255, 1) solid 1px;
    text-align: center;
    padding: 7px 20px;
    font-size: 12px;
    margin: 20px auto 0px;
    box-shadow: 0px 0px 3px 1px rgba(77, 166, 255, 0.7);
    width: 95%;
}

.red_alert {
background : #e6e6e6;
border : #A5161A solid 2px;
color : #CCC;
text-align : center;
padding : 5px 20px;
margin-bottom : 15px;
font-size : 11px;
overflow-wrap : break-word;
}

.red_alert a .red_alert a:hover {
color : #009dff;
}

.high_warning {
color : #C00;
}

.moderate_warning {
color : #F3611B;
}

.low_warning {
color : #AE5700;
}

.online {
color : #15A018;
}

.offline {
color : #C7C7C7;
}

div.error {
padding : 5px 10px;
border-top : 5px solid #ed5a5a;
border-bottom : 5px solid #ed5a5a;
background : #fff;
font-size : 12px;
}

div.error p {
margin : 0;
color : #333;
font-weight : 400;
}

div.error p em {
font-style : normal;
font-weight : 700;
padding-left : 24px;
display : block;
color : #ed5a5a;
}

div.error p em::before {
font-family : 'FontAwesome';
content : "\f071";
color : #ed5a5a;
font-size : 17px;
margin-right : 10px;
}

div.error ul {
margin-left : 24px;
}

.pagination {
    font-size: 11px;
    margin-bottom: 5px;
    float: left;
    width: auto;
    margin-top: 5px;
    padding-bottom: 5px;
}

.pagination .btn-primary {
    margin: 0;
}

.pagination .pages {
font-weight : 100;
}

.pagination .pagination_current, .pagination a {
padding : 3px 6px;
margin-bottom : 3px;
}

.pagination .pagination_current {
font-weight : 100;
}

.pagination a:hover {
text-decoration : none;
}

.pagination .go_page img {
margin-bottom : -4px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #435870;
    border-color: #435870;
}

.pagination > li > a, .pagination > li > span {
    color: #009dff;
}

.drop_go_page {
background : #f5f5f5;
padding : 4px;
}

.mark-subscribe {
float : right;
}

.thread_legend, .thread_legend dd {
margin : 0;
padding : 0;
}

.thread_legend dd {
padding-bottom : 4px;
margin-right : 15px;
}

.thread_legend img {
margin-right : 4px;
vertical-align : bottom;
}

.legend {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

legend {
text-align : center;
color : #fff;
font-size : 14px;
height : 30px;
line-height : 20px;
padding : 5px;
background-color : #5b82a4;
box-sizing : border-box;
position : absolute;
top : -15px;
left : 50%;
margin-left : -50px;
content : "Signature";
width : 100px;
}

dl.forum_legend {
float : left;
}

.forum_legend, .forum_legend dt, .forum_legend dd {
margin : 0;
padding : 0;
}

.forum_legend dd {
float : left;
margin-top : 7px;
margin-right : 10px;
margin-left : -15px;
font-size : 10px;
}

.forum_legend dt {
margin-right : 10px;
float : left;
}

.success_message {
color : #00b200;
font-weight : 700;
font-size : 10px;
margin-bottom : 10px;
}

.error_message {
color : #C00;
font-weight : 700;
font-size : 10px;
margin-bottom : 10px;
}

#posts_container {
padding : 0;
border : #ddd solid 0;
}

.ignored_post {
border-top : 3px solid #333;
padding : 15px;
}

.ignored_post .show_ignored_post {
margin-top : -15px;
}

.ignored_post .show_ignored_post a.button span {
background-position : 0 -400px;
}

.post {
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;
    border-left: 1px solid #dee6ed;
    border-right: 1px solid #dee6ed;
}

.post.classic .post_author {
float : left;
width : 20%;
}

.post .post_author {
padding : 15px;
overflow : hidden;
background : #405972;
}

.post .post_author .buddy_status {
vertical-align : middle;
margin-top : -4px;
}

.post .post_author div.author_avatar {
float : left;
margin-right : 3px;
}

.post.classic .post_author div.author_avatar {
float : none;
text-align : center;
margin-bottom : 8px;
}

.post .post_author div.author_avatar img {
    border: rgba(0, 0, 0, 0.2) solid 4px;
    width: 70px;
    height: 70px;
    border-radius: 0;
}

.post .post_author div.author_information {
float : left;
padding : 6px 8px;
color : #fff;
}

.post.classic .post_author div.author_information {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.post .post_author div.author_statistics {
float : right;
font-size : 12px;
padding : 3px 10px;
color : #e6e6e6;
line-height : 1.3;
}

.author_information em {
color : #9cf !important ;
}

.post .post_head span.post_date {
color : #999;
}

.post .post_head span.edited_post {
font-size : 10px;
color : #999;
}

.post_body {
	background: #fff;
	padding: 20px 15px;
	line-height: 1.7;
	min-height: 125px;
	
	font-size: 14px;
}

.post_content {
padding : 9px 10px 5px;
}

.post_content .signature, .panel-body .signature {
    color: #9cb4c9;
    position: relative;
    border: #9cb4c9 solid 2px;
    margin-top: 20px;
    padding: 25px 8px 15px;
    font-size: 10pt;
    text-align: center;
}

.post_content .signature::before, .panel-body .signature::before {
    color: #9cb4c9;
    background-color: #fff;
    border: 2px solid #9cb4c9;
    text-align: center;
    font-size: 10px;
	font-weight: 600;
    height: 30px;
    line-height: 17px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: -15px;
    left: 50% !important;
    margin-left: -50px;
    width: 80px;
    content: 'SIGNATURE';
    font-family: 'Open Sans';
}

.author .smalltext {
float : right;
width : 100px;
}

.post .post_meta a {
color : #393f46;
}

.post .post_meta a:hover {
color : #393f46;
}

.postbit_buttons > a:link, .postbit_buttons > a:visited, .postbit_buttons > a:active {
content: "";
display: inline-block;
font-family: FontAwesome;
font-weight: normal;
font-size: inherit;
margin-right: 3px;
background-color: #009dff;
padding: 2px 5px;
border-radius: 3px;
color: #fff;
border: 2px solid transparent;
}

.postbit_buttons > a:hover {
background-color: transparent;
color: #009dff !important;
border: 2px solid #009dff !important;
}

.postbit_buttons > a:hover {
border-color : #818c98;
}

.postbit_buttons a span {
    display: none;
}

.postbit_buttons a.postbit_find span {
background-position : 0 0;
}

.postbit_buttons a.postbit_reputation_add span {
background-position : 0 -20px;
}

.postbit_buttons a.postbit_email span {
background-position : 0 -40px;
}

.postbit_buttons a.postbit_website span {
background-position : 0 -60px;
}

.postbit_buttons a.postbit_pm span {
background-position : 0 -80px;
}

.postbit_buttons a.postbit_quote span {
background-position : 0 -100px;
}

.postbit_buttons a.postbit_multiquote span {
background-position : 0 -120px;
}

.postbit_buttons a.postbit_multiquote_on span {
    background-position: 0 -140px;
    display: block;
}

.postbit_buttons a.postbit_qdelete span {
background-position : 0 -180px;
}

.postbit_buttons a.postbit_qrestore span {
background-position : 0 -200px;
}

.postbit_buttons a.postbit_report span {
background-position : 0 -220px;
}

.postbit_buttons a.postbit_warn span {
background-position : 0 -240px;
}

.postbit_buttons a.postbit_purgespammer span {
background-position : 0 -540px;
}

.postbit_buttons a.postbit_reply_pm span {
background-position : 0 -260px;
}

.postbit_buttons a.postbit_reply_all span {
background-position : 0 -280px;
}

.postbit_buttons a.postbit_forward_pm span {
background-position : 0 -300px;
}

.postbit_buttons a.postbit_delete_pm span {
background-position : 0 -320px;
}

a.button {
color : #fff;
display : inline-block;
padding : 5px 8px;
margin : 2px 2px 6px;
font-size : 14px;
background : #009dff;
line-height : 1.5;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

a.button:hover {
background : #2e4052;
}

a.button:before {
color : #fff;
padding-bottom : 3px;
}

a.button.small_button {
font-size : 13px;
margin : 0;
padding : 3px 6px;
}

a.button span {
    padding-left: 0px;
    display: inline-block;
    background-repeat: no-repeat;
}

a.button.new_thread_button span {
background-position : 0 -340px;
}

a.button.new_reply_button span {
background-position : 0 -360px;
}

a.button.closed_button span {
background-position : 0 -380px;
}

a.button.rate_user_button span {
background-position : 0 -400px;
}

a.button.add_buddy_button span {
background-position : 0 -440px;
}

a.button.remove_buddy_button span {
background-position : 0 -480px;
}

a.button.add_ignore_button span {
background-position : 0 -460px;
}

a.button.remove_ignore_button span {
background-position : 0 -500px;
}

a.button.report_user_button span {
background-position : 0 -520px;
}

.rate_thread {
display : inline-block;
float : left;
margin : 12px 0 0 !important ;
}

.userbrows {
    float: left;
    width: 45%;
    padding: 15px 0 0 10px;
    margin-bottom: 10px;
}

.new_thread {
float : right;
}

.new_reply {
float : right;
}

.new_reply_bottom {
float : right;
}

.quick_jump {
width : 14px;
height : 14px;
padding-left : 5px;
margin-top : -3px;
border : none;
}

.quick_jump::before {
font-family : FontAwesome;
content : "\f08e";
font-size : 13px;
}

.pollbar {
background : url(../../../images/pollbar.png) top left repeat-x;
border : #ddd solid 1px;
height : 10px;
}

.pollbar .percent {
display : none;
}

.ie6 {
position : absolute;
}

.ie6.top-right {
right : auto;
bottom : auto;
}

.ie6.center {
width : 100%;
}

.jGrowl {
z-index : 9999;
color : #fff;
font-size : 12px;
position : fixed;
}

.jGrowl.top-left {
left : 0;
top : 0;
}

.jGrowl.top-right {
right : 0;
top : 0;
}

.jGrowl.bottom-left {
left : 0;
bottom : 0;
}

.jGrowl.bottom-right {
right : 0;
bottom : 0;
}

.jGrowl.center {
top : 0;
width : 50%;
left : 25%;
}

.center .jGrowl-notification, .center .jGrowl-closer {
margin-left : auto;
margin-right : auto;
}

.jGrowl .jGrowl-notification, .jGrowl .jGrowl-closer {
margin : 10px;
}

.jGrowl .jGrowl-notification .jGrowl-header {
font-weight : 700;
font-size : 0.85em;
}

.jGrowl .jGrowl-notification .jGrowl-close {
z-index : 99;
float : right;
font-weight : 700;
font-size : 1em;
cursor : pointer;
}

.jGrowl .jGrowl-closer {
padding-top : 4px;
padding-bottom : 4px;
cursor : pointer;
font-size : 0.9em;
font-weight : 700;
text-align : center;
}

@media print {
.jGrowl {
display : none;
}


}

.modal {
display : none;
width : 650px;
height : 327px;
box-shadow : 0 0 15px #405972;
background : #FAFAFA;
}

.modal a.close-modal {
position : absolute;
top : 5px;
right : 5px;
display : block;
width : 30px;
height : 30px;
text-indent : -9999px;
background : url(../../../images/close.png) 0 0 no-repeat;
}

.modal-spinner {
display : none;
width : 64px;
height : 64px;
position : fixed;
top : 50%;
left : 50%;
margin-right : -32px;
margin-top : -32px;
background : url(../../../images/spinner_big.gif) center center no-repeat;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.jqifade {
position : absolute;
background-color : #393f46;
}

div.jqi {
width : 400px;
max-width : 90%;
font-family : 'Open Sans', sans-serif;
position : absolute;
background-color : #303f50;
font-size : 12px;
text-align : left;
border : #eee solid 1px;
border-radius : 6px;
padding : 7px;
}

div.jqi .jqiclose {
position : absolute;
top : 4px;
right : -2px;
width : 18px;
cursor : default;
color : #bbb;
font-weight : 700;
}

div.jqi .jqistate {
background-color : #fff;
}

div.jqi .jqititle {
padding : 5px 10px;
font-size : 16px;
line-height : 20px;
border-bottom : 1px solid #eee;
}

div.jqi .jqimessage {
padding : 10px;
line-height : 20px;
color : #444;
}

div.jqi .jqibuttons {
text-align : right;
margin : 0 -7px -7px;
border-top : 1px solid #e4e4e4;
background-color : #f4f4f4;
border-radius : 0 0 6px 6px;
}

div.jqi .jqibuttons button {
margin : 0;
padding : 15px 20px;
background-color : transparent;
font-weight : 400;
border : none;
border-left : 1px solid #e4e4e4;
color : #393f46;
font-weight : 700;
font-size : 12px;
}

div.jqi .jqibuttons button.jqidefaultbutton {
color : #489afe;
}

div.jqi .jqibuttons button:hover, div.jqi .jqibuttons button:focus {
color : #287ade;
outline : none;
}

.jqiwarning .jqi .jqibuttons {
background-color : #b95656;
}

div.jqi .jqiparentstate::after {
background-color : #393f46;
opacity : 0.60000002384185791015625;
content : '';
position : absolute;
top : 0;
left : 0;
bottom : 0;
right : 0;
border-radius : 6px;
}

div.jqi .jqisubstate {
position : absolute;
top : 0;
left : 20%;
width : 60%;
padding : 7px;
border : #eee solid 1px;
border-top : none;
border-radius : 0 0 6px 6px;
}

div.jqi .jqisubstate .jqibuttons button {
padding : 10px 18px;
}

.jqi .jqiarrow {
position : absolute;
height : 0;
width : 0;
line-height : 0;
font-size : 0;
border : transparent solid 10px;
}

.jqi .jqiarrowtl {
left : 10px;
top : -20px;
border-bottom-color : #303f50;
}

.jqi .jqiarrowtc {
left : 50%;
top : -20px;
border-bottom-color : #303f50;
margin-left : -10px;
}

.jqi .jqiarrowtr {
right : 10px;
top : -20px;
border-bottom-color : #303f50;
}

.jqi .jqiarrowbl {
left : 10px;
bottom : -20px;
border-top-color : #303f50;
}

.jqi .jqiarrowbc {
left : 50%;
bottom : -20px;
border-top-color : #303f50;
margin-left : -10px;
}

.jqi .jqiarrowbr {
right : 10px;
bottom : -20px;
border-top-color : #303f50;
}

.jqi .jqiarrowlt {
left : -20px;
top : 10px;
border-right-color : #303f50;
}

.jqi .jqiarrowlm {
left : -20px;
top : 50%;
border-right-color : #303f50;
margin-top : -10px;
}

.jqi .jqiarrowlb {
left : -20px;
bottom : 10px;
border-right-color : #303f50;
}

.jqi .jqiarrowrt {
right : -20px;
top : 10px;
border-left-color : #303f50;
}

.jqi .jqiarrowrm {
right : -20px;
top : 50%;
border-left-color : #303f50;
margin-top : -10px;
}

.jqi .jqiarrowrb {
right : -20px;
bottom : 10px;
border-left-color : #303f50;
}

.logbar {
z-index : 500;
position : relative;
background-color : #333;
padding : 20px;
margin : auto;
width : 100%;
color : #FFF;
float : right;
}

.loginbar {
position : absolute;
width : 100%;
margin-top : 45px;
}

#logincontainer {
padding : 12px;
float : right;
}

#logincontainer a {
color : #FFF;
}

#logincontainer a:hover {
color : #7497B8;
text-decoration : none;
}

.user_avatar {
width : 32px;
margin : 7px 0 12px 12px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.avatar-defaut {
    position: relative;
    padding: 3px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#panel-responsive {
background : none 0 0 repeat scroll #23313E;
color : #fff;
height : 50px;
font-size : 14px;
text-align : center;
border-bottom : 3px solid #009dff;
}

#menu {
    background: #23313E;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
}

#menu div {
margin : 0 !important ;
}

#menu li a i {
float : right;
margin-top : 5px;
}

.navbar-header span {
margin-top : 0 !important ;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px;
    margin-top: 0px;
    margin-right: 5%;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 15px;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    background-color: transparent !important;
    color: #009dff !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.welcome-guest {
    float: left;
    margin-right: 5px;
}

.enter {
text-transform : uppercase;
letter-spacing : 2px;
text-align : center;
font-size : 11px;
font-weight : 300;
position : relative;
top : 0;
margin-right : 5px;
bottom : 0;
left : 0;
color : #FFF;
transition : all 0.5s;
float: right;
}

.enter:hover span, .button:active span {
color: #009dff;
}

.enter span:hover, .enter span:active {
text-decoration : none;
color : #009dff;
border-color : #009dff;
background : #FFF !important;
}

.enter span {
background : #009dff;
border : #009dff solid 2px;
position : relative;
padding : 8px 7px;
transition : padding-right 0.5s;
}

.enter span::after {
content : ' ';
position : absolute;
top : 0;
right : -18px;
opacity : 0;
width : 7px;
height : 7px;
margin-top : -5px;
background : rgba(0, 0, 0, 0);
border : #FFF solid 3px;
border-top : none;
border-right : none;
transform : rotate(-135deg);
}

.enter:hover span, .button:active span {
padding-right : 20px;
color: #009dff;
}

.enter:hover span:after, .button:active span:after {
color: #009dff;
opacity : 1;
border-color : #009dff;
right : 5px;
top : 50%;
}

.usersection {
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    min-width: 320px;
    height: 45px;
    line-height: 45px;
    color: #FFF;
}

.usermenu {
    font-size: 13px;
    margin-right: 20px;
    width: 100%;
    height: 45px;
}

.usermenu .fa {
color : #fff;
transition : all 0.5s ease;
}

.usermenu .fa:hover {
color : #009dff;
}

.usermenu a {
color : #beccda;
transition : all 0.5s ease;
text-decoration : none;
}

.usermenu a:hover {
color : #009dff;
transition : all 0.5s ease;
}

.panelavatar {
    margin: 0 0px 5px 10px;
    padding: 0;
}

.btn-default:focus {
background : #fff !important ;
}

.btn-primary {
    color: #fff;
    background-color: #303f50;
    border-color: transparent;
    font-size: 14px;
    margin: 5px 0;
}

.menu .dropdown {
position : relative;
display : inline-block;
top : 0;
left : 0;
right : 0;
bottom : 0;
}

.menu ul.dropdown-menu {
    top: 46px;
    border-radius: 0px;
    background: #202C38;
}

.menu ul.dropdown-menu li {
    width: 100%;
    text-align: left;
}

.menu .dropdown-menu > li > a {
    display: block;
    padding: 7px 20px 7px 10px;
    clear: both;
    font-weight: 400;
    color: #fff;
}

.menu .dropdown-menu > li > a:hover {
    background: #405972;
}

.menu .dropdown-toggle {
    background-color: transparent !important;
    color: #fff !important;
    text-decoration: none;
    padding: 15px 7px;
    line-height: 43px;
}

.menu .dropdown-toggle:hover {
    background: #009dff !important;
	color: #fff !important;
}

.menu .dropbtn {
color : #fff;
padding : 3px 7px;
font-size : 16px;
border : none;
cursor : pointer;
}

.menu .dropbtn:hover {
background-color : transparent !important ;
color : #8da7fb;
}

.menu .dropdown-content {
background : #1F2C38;
display : none;
position : absolute;
min-width : 160px;
padding : 5px;
left : auto !important ;
right : -45px !important ;
text-align : left;
}

.menu .dropdown-content a {
    padding: 5px;
    height: 30px;
    line-height: 18px;
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease;
    display: block;
}

.menu .dropdown-content i {
margin-right : 5px;
color : inherit;
vertical-align : middle;
}

.menu .dropdown-content a:hover {
display : block;
cursor : pointer;
background : #405972;
color : #fff !important ;
transition : all 0.3s ease;
}

.menu .dropdown:hover .dropdown-content {
display : block;
}

.userunique .dropdown {
position : relative;
display : inline-block;
top : 0;
left : 0;
right : 0;
bottom : 0;
}

.userunique ul.dropdown-menu {
    top: 42px;
    left: -135px;
    border-radius: 0px;
    background: #202C38;
    min-width: 170px;
	padding: 0px;
}

.userunique ul.dropdown-menu li {
    width: 100%;
    text-align: left;
}

.userunique .dropdown-menu > li > a {
    display: block;
    padding: 7px 20px 7px 10px;
    clear: both;
    font-weight: 400;
    color: #fff;
}

.userunique .dropdown-menu > li > a:hover {
    background: #405972;
}

.userunique .dropdown-toggle {
    background-color: transparent !important;
    color: #5b82a4 !important;
    text-decoration: none;
    padding: 15px 7px;
    line-height: 43px;
}

.userunique .dropdown-toggle .caret {
    margin-left: 0px;
    border-top: 7px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.userunique .dropdown-toggle:hover {
	color: #fff !important;
}

.userunique .dropbtn {
color : #fff;
padding : 3px 7px;
font-size : 16px;
border : none;
cursor : pointer;
}

.userunique .dropbtn:hover {
background-color : transparent !important ;
color : #8da7fb;
}

.userunique .dropdown-content {
background : #1F2C38;
display : none;
position : absolute;
min-width : 160px;
padding : 5px;
left : auto !important ;
right : -45px !important ;
text-align : left;
}

.userunique .dropdown-content a {
    padding: 5px;
    height: 30px;
    line-height: 18px;
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease;
    display: block;
}

.userunique .dropdown-content i {
margin-right : 5px;
color : inherit;
vertical-align : middle;
}

.userunique .dropdown-content a:hover {
display : block;
cursor : pointer;
background : #405972;
color : #fff !important ;
transition : all 0.3s ease;
}

.userunique .dropdown:hover .dropdown-content {
display : block;
}

a#pm_notification {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
}

#pm_notification {
    background: transparent;
    display: inline-block;
    height: 43px;
    padding: 4px 5px 4px 5px;
    font-weight: bold;
}

#pm_notification::after {
    content: " |";
}

.thumbnail a > img, .thumbnail > img {
    width: 70px;
    height: 70px;
}

.bam_announcement.green {
    background: #d6f5d6 !important;
    border: 2px solid #47d147 !important;
}
/* DVZ Shoutbox */
#shoutbox { margin-bottom: 10px; border: solid 2px rgba(0,0,0,0.1); }
#shoutbox .head { padding: 8px; }
#shoutbox.front .head { cursor: pointer; }
#shoutbox .head .right { float: right; margin: 0; font-size: 13px; }
#shoutbox.collapsed .head { opacity: 0.6; }
#shoutbox.collapsed .body { display: none; }

#shoutbox .panel { border-top: solid 2px rgba(0,0,0,0.1); }
#shoutbox input.text { margin: 0; padding: 10px 8px; width: 100%; box-sizing: border-box; border: none; box-shadow: inset 0 2px 4px rgba(0,0,0,0.08); font-family: Arial, sans-serif; font-size: 12px; color: #000; }
#shoutbox .minposts, #shoutbox .blocked { padding: 6px; font-size: 11px; }
#shoutbox .panel.minposts { background: #FFFED8; color: #727250; }
#shoutbox .panel.blocked { background: #FCEFEF; color: #543A3A; }
#shoutbox .panel p { margin: 0; }

#shoutbox .window { border-top: solid 2px rgba(0,0,0,0.1); overflow-y: scroll; }
#shoutbox .data { display: table; width: 100%; border-top: solid 2px rgba(0,0,0,0.1); font-family: Arial, sans-serif; font-size: 12px; }
#shoutbox.front .data { border-top: none; }

#shoutbox .entry { display: table-row !important; width: 100%; transition: background-color 0.2s; }
#shoutbox .entry:nth-child(even) { background-color: rgba(0,0,0,0.01); }
#shoutbox .entry.new { background-color: rgba(255,255,100,0.1); }
#shoutbox .entry:target { background-color: rgba(50,200,255,0.1); }
#shoutbox .entry > div { border-bottom: dashed 1px rgba(0,0,0,0.05); }
#shoutbox .entry:last-child > div { border-bottom: none; }

#shoutbox .entry > div { display: table-cell; padding: 6px; }

#shoutbox .avatar img { margin: 0 auto; vertical-align: middle; max-height: 20px; max-width: 20px; border: solid 1px rgba(255,255,255,0.1); box-shadow: 0 0 2px rgba(0,0,0,0.1); cursor: pointer; }
#shoutbox .user { border-right: solid 1px rgba(0,0,0,0.05); text-align: right; white-space: nowrap; }
#shoutbox .text { width: 100%; color: #555; word-break: break-all; word-wrap: break-word; }
#shoutbox .info { font-size: 11px; color: #AAA; white-space: nowrap; text-align: right; }
#shoutbox .entry.unread .info:before { display: inline-block; position: relative; top: -2px; margin-right: 10px; height: 4px; width: 4px; content: ''; background: rgba(255,100,0,0.8); border-radius: 10px; }
#shoutbox .info a { color: inherit; }
#shoutbox .mod { padding: 6px 8px; font-size: 9px; font-weight: bold; color: #AAA; text-decoration: none; }
#shoutbox .mod:nth-of-type(2) { margin-right: 5px; border-left: solid 1px rgba(0,0,0,0.1); }
#shoutbox  .ip { margin-right: 10px; color: #CECECE; }

/* Best Answer background-color */
.post_content_ba {
	padding: 9px 10px 5px 10px;
	background: #D6ECA6 !important;
}

		
		
		