.am_embed,
.urlembed,
.oembedall-container {
    width: 90%;
    margin: auto auto;
}

.am_embed iframe,
.urlembed iframe,
.oembedall-container iframe {
    max-width: 100%;
}

.embedly-card {
    text-align:center;
    margin: auto auto;
}

.embedly-card-hug {
    width: 100%;
}

[id^=player_],
#player {
    border: none;
}

.mediawrapper{
    width: 430px;
    min-height: 300px;
}

.prev-img {
    margin-right: 7px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.am_social {
    width: 100%;
    text-align: center;
}

.am_prev {
    text-align: center;
}

.am_title {
    font-weight: bold;
    font-size: 1.3em;
}

.am_image_na {
    border: 2px solid #000;
    margin: 20px;
    padding: 20px;
    font-size: 2em;
}

.am_errorMessage {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 15px;
}         